.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  margin: -15px;
  @media screen and (min-width:1200px) {
     flex-wrap: nowrap;
      
 }
}
.clients__item {
  
  height: 92px;
  margin: 15px;
  flex-basis: calc((100% - 2 * 30px) / 2);
  
  @media screen and (min-width:768px) {
    width: calc((100% - 3 * 30px) / 3);
}
}
.clients__link {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--primary-accent-color);

    & .clients__icon,
    & .clients__icon {
      fill: var(--primary-accent-color);
    }
  }
}
.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
