/* Секция преимущества*/

.features__item:not(:first-child) {
  margin-left: 30px;
}
.features__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.features__text {
  margin: 0;
}
.features__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
}
.features__icon {
  width: 70px;
  height: 70px;
}
