/* Подвал сайта */

.page-footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.page-footer__container {
   text-align: center;    
   @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   }
   @media screen and (min-width:1200px) {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline; 
    text-align: left;
        
 }
}
.page-footer__center{
  @media screen and (max-width:768px){
    margin-top: 60px;
  }
  @media screen and (min-width:1200px){
  margin-right: 93px;
  margin-bottom: 0;
  }
}
.page-footer__left {

  @media screen and (min-width:1200px){
  flex-grow: 1;
  margin-right: 70px;
}
}
.page-footer__right{
  @media screen and (max-width:1199px){
    margin-top: 60px;
  }
}

.page-footer__item:not(:first-child) {
  margin-top: 9px;
}
.page-footer__link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.page-footer__link--address {
  color: var(--secondary-accent-color);
}
.page-footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--secondary-accent-color);
  text-transform: uppercase;
}
.page-footer__social {
  padding: 0;
  
  
  @media screen and (min-width:768px) {
  justify-content: start;
  }

  .social__link {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--primary-accent-color);

      .social__icon {
        fill: var(--secondary-accent-color);
      }
    }
  }
}

.page-footer__form {
  
  @media screen and (min-width:1200px) {
    display: flex;
    align-items: center;
  }
}
.page-footer__input {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  padding: 15px 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  color: var(--secondary-accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    outline: 0;
    border-color: var(--primary-accent-color);
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width:768px) {
    width: 450px;
    
  }
  @media screen and (min-width:1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.page-footer__button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-footer__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
