/* Шапка сайта */
.page-header {
  position: relative;
  background-color: var(--secondary-accent-color);
  border-bottom: 1px solid #ececec;
  top: 0;
  width: 100%;
  z-index: 1;
  @media screen and (min-width: 768px) {
    position: fixed;
  }
}
.page-header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    height: 80px; 
  }
}
/* Навигация сайта */

.page-header__button{
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  line-height: 0;
  &:focus .page-header__icon{
    fill: var(--primary-accent-color);  
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.page-header__icon{
  width: 40px;
  height: 40px;
}

.main-nav__list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
.main-nav__link,
.mobile-menu__link {
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-accent-color);
  }
}
.main-nav__link--active {
  display: flex;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-accent-color);

  &::after {
    position: absolute;
    bottom: -32px;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--primary-accent-color);
  }
}
.main-nav__item:not(:first-child){
  @media screen and (min-width: 768px) {
  margin-left: 50px;
  }
}
.header-contacts {
    display: none;
  
    @media screen and (min-width:768px){
     display: block;
     margin-left: auto;  
    }
    @media screen and (min-width:1200px){
        display: flex;
        align-items: center;
        margin-left: auto;    
      }
}
.header-contacts__item {
  @media screen and (max-width: 1199px) {
    &:first-child{  
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:first-child){
    margin-left: 50px;
    }
  }
}
.header-contacts__link { 
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-accent-color);

    & .header-contacts__icon,
    & .header-contacts__icon {
      fill: var(--primary-accent-color);
    }
  }
}
  
.header-contacts__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1200px) {
  &--email {
    width: 16px;
    height: 12px;
  }
  &--smartphone {
    width: 10px;
    height: 16px;
  } 
}
@media screen and (min-width: 768px) {
  &--email {
    width: 14px;
    height: 10px;
  }
  &--smartphone {
    width: 10px;
    height: 14px;
  } 
}
}
