/* Шапка сайта */
.page-header {
  background-color: var(--secondary-accent-color);
  border-bottom: 1px solid #ececec;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
/* Навигация сайта */

.main-nav__list {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.main-nav__link {
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-accent-color);
  }
}
.main-nav__link--active {
  display: flex;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-accent-color);

  &::after {
    position: absolute;
    bottom: -32px;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--primary-accent-color);
  }
}
.main-nav__item:not(:first-child),
.header-contacts__item:not(:first-child) {
  margin-left: 50px;
}
.header-contacts {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
  align-items: center;
}
.header-contacts__link {
  display: flex;
  align-items: center;
  font-style: normal;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-accent-color);

    & .header-contacts__icon,
    & .header-contacts__icon {
      fill: var(--primary-accent-color);
    }
  }
}
.header-contacts__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--email {
    width: 16px;
    height: 12px;
  }
  &--smartphone {
    width: 10px;
    height: 16px;
  }
}

.page-header__container,
.about,
.features,
.team,
.projects,
.portfolio-nav {
  display: flex;
  align-items: center;
}
