/* Секция Hero */
.hero {
  max-width: 1600px;
  background-color: #2f303a;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/studio/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 480px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }
  @media screen and (min-width: 1140px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: var(--secondary-accent-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 480px) {
    width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
  @media screen and (min-width: 1140px){
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
