/* Секция Hero */
.hero {
  max-width: 480px;
  background-color: #2f303a;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image:linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
   url(../images/hero/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-mobile@2x.jpg); 
  }
  @media screen and (min-width: 481px) {
    max-width: 768px;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-tablet.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
     
        background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-tablet@2x.jpg); 
    }
  }
  @media screen and (min-width: 769px) {
    max-width: 1600px;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-desctop.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-desctop@2x.jpg);
      
    }
  } 
  @media screen and (min-width: 1200px) {
  padding-top: 200px;
  padding-bottom: 200px;
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: var(--secondary-accent-color);
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 360px;
  font-size: 26px;
  line-height: 1.62;
  @media screen and (max-width: 480px){
    max-width: 300px;;
  }
  @media screen and (min-width: 1200px){
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
