/* Страница Портфолио */
.portfolio-nav {
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-nav__button {
  cursor: pointer;
  border: transparent;
  font-family: inherit;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--primary-accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--secondary-accent-color);
  }
}
.portfolio-nav__item:not(:first-child) {
  margin-left: 8px;
}
.projects {
  flex-wrap: wrap;
}
.projects__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.projects__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    & .projects__overlay,
    & .projects__overlay {
      transform: translateY(0%);
    }
  }
}
.projects__box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.projects__image {
  display: block;
  width: 100%;
  height: auto;

  &::after {
    border: 1px solid #eeeeee;
  }
}
.projects__item:nth-child(3n) {
  margin-right: 0;
}
.projects__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.projects__text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.projects__card {
  position: relative;
  overflow: hidden;
}
.projects__overlay {
  padding: 24px 63px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1.55;
  color: var(--secondary-accent-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
