.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width:480px) {
    width: 450px;
  }
  @media screen and (min-width:768px) {
    width: 738px;
  }
}
