.contact-form {
  display: block;
}

.contact-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.contact-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
}
.contact-form__area {
  position: relative;
}
.contact-form__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 40px;
  padding-left: 42px;

  &:focus {
    outline: var(--primary-accent-color);
    border: 1px solid var(--primary-accent-color);

    & + .contact-form__icon {
      fill: var(--primary-accent-color);
    }
  }
}
.contact-form__field--textarea {
  margin-bottom: 20px;
}
.comment {
  position: relative;
  height: 120px;
  padding: 12px 16px;
  resize: none;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}
.contact-form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  display: inline-block;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
}
.checkbox-link {
  margin-left: 5px;
  color: var(--primary-accent-color);
  text-decoration: underline;
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox-icon {
  width: 16px;
  height: 15px;
  margin-right: 5px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  background-color: #fff;
}
.checkbox:checked + .checkbox-icon {
  border-color: var(--primary-accent-color);
  background-color: var(--primary-accent-color);
  background-origin: border-box;
  background-image: url(../images/studio/icon-check.svg);
  background-position: content;
}
