.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
.page-header__logo {
  color: var(--title-text-color);
  @media screen and (min-width:768px) {
    margin-right: 88px;
  }
  @media screen and (min-width:1200px) {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.2;
  }
}
.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--secondary-accent-color);
}
.logo__span {
  color: var(--primary-accent-color);
}
