.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--secondary-accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.modal__icon {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 9px 9px 10px 10px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--secondary-accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    & .modal__close {
      fill: var(--primary-accent-color);
    }
  }
}
.modal__close {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 11px;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  color: #212121;
}
