.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
  @media screen and (min-width:1140px) {
    font-size: 36px;
  }
}
